*{
  margin: 0;
  padding: 0;
}

.link{
  text-decoration: none;
  color: white;
  cursor: pointer;
}
input{
  /* border-color: blueviolet; */
  border: 2px solid blueviolet;
  padding: 5px;
  border-radius: 5px;
  height: 35px;
}
.btn{
  background-color: blueviolet;
  border-radius: 5px;
  padding: 5px 15px;
  border: none;
}

::-webkit-scrollbar {
  width: 10px;

}


::-webkit-scrollbar-track {
  background: #1c1a1a;
  border-radius: 0;


}


::-webkit-scrollbar-thumb {
  background: blueviolet;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s;

  
}


::-webkit-scrollbar-thumb:hover {
  background: rgb(164, 67, 255);
}